section#features.features.section
  .container.text-center
    h2.title Features
    ul.feature-list.list-unstyled
      li
        i.fa.fa-check
        |  Fully responsive
      li
        i.fa.fa-check
        |  HTML5 + CSS3
      li
        i.fa.fa-check
        |  Built on 
        a(href='http://getbootstrap.com/', target='_blank') Bootstrap 3.3
      li
        i.fa.fa-check
        |  400+ FontAwesome icons
      li
        i.fa.fa-check
        |  4 colour schemes
      li
        i.fa.fa-check
        |  LESS files included
      li
        i.fa.fa-check
        |  Compatible with all modern browsers