footer.footer
  .container.text-center
    small.copyright
      | Designed with 
      i.fa.fa-heart
      |  by 
      a(href='http://themes.3rdwavemedia.com', target='_blank') Xiaoying Riley
      |  for developers