section#about.about.section
  .container
    h2.title.text-center What is Healing on the Streets Bromley?
    p.intro.text-center
      | Explain your project in detail. Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
    .row
      .item.col-md-4.col-sm-6.col-xs-12
        .icon-holder
          i.fa.fa-heart
        .content
          h3.sub-title Designed for developers
          p
            | Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ 
            a(href='http://fortawesome.github.io/Font-Awesome/icons/', target='_blank') FontAwesome
            |  icons available.
      .item.col-md-4.col-sm-6.col-xs-12
        .icon-holder
          i.fa.fa-clock-o
        .content
          h3.sub-title Time saver
          p
            | Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ 
            a(href='http://fortawesome.github.io/Font-Awesome/icons/', target='_blank') FontAwesome
            |  icons available.
      .item.col-md-4.col-sm-6.col-xs-12
        .icon-holder
          i.fa.fa-crosshairs
        .content
          h3.sub-title UX-centred
          p
            | Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ 
            a(href='http://fortawesome.github.io/Font-Awesome/icons/', target='_blank') FontAwesome
            |  icons available.
      .clearfix.visible-md
      .item.col-md-4.col-sm-6.col-xs-12
        .icon-holder
          i.fa.fa-tablet
        .content
          h3.sub-title Mobile-friendly
          p
            | Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ 
            a(href='http://fortawesome.github.io/Font-Awesome/icons/', target='_blank') FontAwesome
            |  icons available.
      .item.col-md-4.col-sm-6.col-xs-12
        .icon-holder
          i.fa.fa-code
        .content
          h3.sub-title Easy to customise
          p
            | Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ 
            a(href='http://fortawesome.github.io/Font-Awesome/icons/', target='_blank') FontAwesome
            |  icons available.
      .item.col-md-4.col-sm-6.col-xs-12
        .icon-holder
          i.fa.fa-coffee
        .content
          h3.sub-title LESS files included
          p
            | Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ 
            a(href='http://fortawesome.github.io/Font-Awesome/icons/', target='_blank') FontAwesome
            |  icons available.
