section#license.license.section
  .container
    .license-inner
      h2.title.text-center License
      .info
        p
          | This Bootstrap theme is made by UX designer 
          a(href='https://www.linkedin.com/in/xiaoying', target='_blank') Xiaoying Riley
          |  at 3rd Wave Media for developers and is 
          strong 100% FREE
          |  under the 
          a(href='https://creativecommons.org/licenses/by/3.0/', target='_blank') Creative Commons Attribution 3.0 License (CC BY 3.0)
        p
          strong [Tip for developers]:
          |  If your project is open source, you might want to put a 
          a(href='https://www.paypal.com/us/cgi-bin/?cmd=_donate-intro-outside', target='_blank') PayPal &quot;Donate&quot; button
          |  below so your users can express their gratitude. If your project is commercial, you can put a 
          a(href='https://www.paypal.com/us/cgi-bin/webscr?cmd=_singleitem-intro-outside', target='_blank') PayPal &quot;Buy Now&quot; button
          |  instead.
      .cta-container
        .speech-bubble
          p.intro
            | If you are feeling generous and want to show your support to Xiaoying, you can buy her a beer or coffee via the PayPal donate button below. :)
          .icon-holder.text-center
            i.fa.fa-smile-o
        .btn-container.text-center
          // PayPal generated code starts
          form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
            input(type='hidden', name='cmd', value='_s-xclick')
            input(type='hidden', name='hosted_button_id', value='Y46LJNXGAVVWW')
            input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
            img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1')