section#promo.promo.section.offset-header
  .container.text-center
    h2.title
      p Healing on the Streets
      p.lowlight Bromley
    div.intro
      != contents.sections["splash.md"].html
    .btns
      a.btn.btn-cta-secondary(href='#About') About
      a.btn.btn-cta-primary(href='http://themes.3rdwavemedia.com/website-templates/Healing on the Streets Bromley-free-bootstrap-theme-developers/', target='_blank') Received Prayer?
    ul.meta.list-inline
