section#promo.promo.section.offset-header
  .container.text-center
    h2.title
      p Healing on the Streets
      p.lowlight Bromley
    p.intro
      | We believe God loves everyone and that one of the ways in which He can demonstrate that love is through His power to heal.
    .btns
      a.btn.btn-cta-secondary(href='#About') About
      a.btn.btn-cta-primary(href='http://themes.3rdwavemedia.com/website-templates/Healing on the Streets Bromley-free-bootstrap-theme-developers/', target='_blank') Received Prayer?
    ul.meta.list-inline
  .social-media
    .social-media-inner.container.text-center
      ul.list-inline
        li.twitter-follow
          a.twitter-follow-button(href='https://twitter.com/3rdwave_themes', data-show-count='false') Follow @3rdwave_themes
          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        li.twitter-tweet
          a.twitter-share-button(href='https://twitter.com/share', data-via='3rdwave_themes', data-hashtags='bootstrap') Tweet
          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        li.facebook-like
          .fb-like(data-href='http://themes.3rdwavemedia.com/', data-layout='button_count', data-action='like', data-show-faces='false', data-share='true')
        li.github-star
          iframe(src='http://ghbtns.com/github-btn.html?user=mdo&repo=github-buttons&type=watch&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='110', height='20')
        li.github-fork
          iframe(src='http://ghbtns.com/github-btn.html?user=mdo&repo=github-buttons&type=fork', allowtransparency='true', frameborder='0', scrolling='0', width='53', height='20')