section#promo.promo.section.offset-header
  .container.text-center
    h2.title
      p Healing on the Streets
      p.lowlight Bromley
    div.intro
      != contents.sections["splash.md"].html
    .btns
      a.scrollto.btn.btn-cta-secondary(href='#'+contents.sections["about_us.md"].metadata.id)= contents.sections["about_us.md"].title
      a.scrollto.btn.btn-cta-primary(href='#'+contents.sections["received_prayer.md"].metadata.id)= contents.sections["received_prayer.md"].title
    ul.meta.list-inline
